<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="container">

      <form id="loginForm">

        <div class="header">

          <h3>Connexion</h3>

          <p>Connectez-vous avec votre e-mail</p>

        </div>

        <div class="sep"></div>

        <div class="inputs">


          <input type="email" placeholder="e-mail" autofocus/>
          <input type="password" placeholder="Password"/>

          <a id="submit" href="#">Se connecter</a>

        </div>

      </form>

    </div>
    ​
  </div>
</div>
