<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/dependencies/bootstrap.css">
    <link rel="stylesheet" href="/styles/dependencies/font-awesome.css">
    <link rel="stylesheet" href="/styles/dependencies/loading-bar.css">
    <link rel="stylesheet" href="/styles/dependencies/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/styles/dependencies/ngDialog.css">
    <link rel="stylesheet" href="/styles/dependencies/select.css">
    <link rel="stylesheet" href="/styles/app.css">
    <!--STYLES END-->
  </head>

  <body ng-app="app">
    <%- body %>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.11.3.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-breadcrumb.js"></script>
    <script src="/js/dependencies/angular-local-storage.js"></script>
    <script src="/js/dependencies/angular-sails.js"></script>
    <script src="/js/dependencies/angular-sanitize.js"></script>
    <script src="/js/dependencies/angular-ui-router.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/loading-bar.js"></script>
    <script src="/js/dependencies/ng-lodash.js"></script>
    <script src="/js/dependencies/ngDialog.js"></script>
    <script src="/js/dependencies/select.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="/js/dependencies/ui-utils.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/coreModule/app.js"></script>
    <script src="/app/coreModule/controllers/coreCtrl.js"></script>
    <script src="/app/coreModule/services/userService.js"></script>
    <script src="/app/dependencies.js"></script>
    <script src="/app/modules.js"></script>
    <script src="/app/requestModule/app.js"></script>
    <script src="/app/requestModule/controllers/homeCtrl.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
