<div class="container-fluid app-main-container" ng-controller="coreCtrl">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="user-zone">
        <img src="/images/user.png">

        <div class="dropdown" dropdown on-toggle="toggled(open)">
          <a href class="username dropdown-toggle" dropdown-toggle>
            {{loggedUser.firstName}} {{loggedUser.lastName}} <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href><i class="fa fa-user"></i> Mon profil</a></li>
            <li><a href><i class="fa fa-cogs"></i> Réglages</a></li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="fa fa-power-off"></i> Se déconnecter</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
    </div>
    <div ui-view class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


    </div>
  </div>
</div>
