$side-bar-bg-color: #354052;
$side-bar-text-color: #a0abbf;
$side-bar-separator: #303a4a;
$main-bg-color-light: #ecf2f6;
$main-blue: #15a4fa;
$main-grey: #6f7d95;
$main-green: #47bac1;
$main-purple: #ae69af;


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;

}

.navbar-fixed-top {
  border: 0;
}


.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: $side-bar-bg-color;
  border-right: 1px solid #eee;

  .nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;

  }

  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: $side-bar-text-color;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
  }

  .user-zone {
    height: 200px;
    border-bottom: solid 3px #303a4a;
  }
}

/* Sidebar navigation */

.main {
  .page-header {
    margin-top: 0;
  }
}

.appheader {
  margin-bottom: 30px;

  h4{
    margin-bottom: 0;
  }

  img {
    display: inline-block;
    border-radius: 50%;
  }
}

html, body {
  height: 100%;
  text-align: center;
  background-image: url('../images/backlogin.jpg');
  font-family: "Helvetica Neue", Helvetica, Arial;
  padding-top: 20px;
}
.form-wrap {
  width: 500px;
  height: auto;
  max-width: 500px;
  margin: 150px auto;
  #loginForm {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow:
    0px 0px 0px 5px rgba( 255,255,255,0.4 ),
    0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    margin-top: 90px;
    .header {
      margin-bottom: 20px;
      h3 {
        color: #333333;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      p {
        color: #8f8f8f;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .sep {
      height: 1px;
      background: #e8e8e8;
      width: 406px;
      margin: 30px -20px;
    }

  }
}
.alert.alert-danger{
  width: 320px;
  position: absolute;
  top: 10%;
  left: 36%;
}

